{% extends "base.html" %}

{% block title %}Gallery{% endblock %}

{% block page_content %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Gallery</h1>
    </div>
  {% for image in images %}
  <div class="col-lg-3 col-md-4 col-xs-6 thumb">
    <a class="thumbnail" href="{{ url_for('gallery.show_image', image_id=image.id) }}">
      <figure id="{{ image.name }}">
          <img class="img-responsive" src="{{ '/static/images/' + image.name }}" alt="">
      </figure>
    </a>
  </div>
  {% endfor %}
</div>

{% endblock %}
