<li class="jumbotron">
  <p class="lead text-center">
  <a href="{{ url_for('battle.fight', id=battle.id) }}">
      {{ moment(battle.timestamp).fromNow() }}
    </a>
  </p>
  <div class="row">
    <div class="col-md-4">
      <a href="{{ url_for('main.user', username=battle.challenger.username) }}">
        <img class="img-rounded pull-left" src="{{ battle.challenger.gravatar(size=100) }}">
      </a>
      <p>Votes for challenger: {{ battle.votes.filter_by(choice="challenger").count() }}</p>
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <a href="{{ url_for('main.user', username=battle.challenged.username) }}">
        <img class="img-rounded pull-right" src="{{ battle.challenged.gravatar(size=100) }}">
      </a>
      <p>Votes for challenged: {{ battle.votes.filter_by(choice="challenged").count() }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <figure class={{ battle.challenger_filter }}>
        <img class="img-responsive" src="{{ '/static/images/' + battle.image.name }}">
      </figure>
      {% if current_user.can(Permission.VOTE) and current_user.id not in (battle.challenger.id, battle.challenged.id) %}
      <a href="{{ url_for('battle.vote', id=battle.id, choice="challenger") }}" class="btn btn-default">
        Vote for challenger
      </a>
      {% endif %}
    </div>
    <div class="col-md-6">
      <figure class={{ battle.challenged_filter }}>
        <img class="img-responsive" src="{{ '/static/images/' + battle.image.name }}">
      </figure>
      {% if current_user.can(Permission.VOTE) and current_user.id not in (battle.challenger.id, battle.challenged.id) %}
      <a href="{{ url_for('battle.vote', id=battle.id, choice="challenged") }}" class="btn btn-default">
        Vote for challenged
      </a>
      {% endif %}
    </div>
  </div>
</li>
