<ul class="battles">
  {% for battle in battles %}
  <li class="battle">
    <div class="battle-thumbnail">
      <a href="{{ url_for('main.user', username=battle.challenger.username) }}">
        <img class="img-rounded profile-thumbnail" src="{{ battle.challenger.gravatar(size=40) }}">
      </a>
      <a href="{{ url_for('main.user', username=battle.challenged.username) }}">
        <img class="img-rounded profile-thumbnail" src="{{ battle.challenged.gravatar(size=40) }}">
      </a>
    </div>
    <div class="battle-content">
        <div class="battle-date">{{ moment(battle.timestamp).fromNow() }}</div>
        <p>Votes for challenger: {{ battle.votes.filter_by(choice="challenger").count() }}</p>
        <p>Votes for challenged: {{ battle.votes.filter_by(choice="challenged").count() }}</p>
          <a href="{{ url_for('battle.fight', id=battle.id) }}">
          <figure class="post-body">
            <img class="img-responsive" src="{{ '/static/images/' + battle.image.name }}">
          </figure>
          </a>
          {% if current_user.can(Permission.VOTE) and current_user.id not in (battle.challenger.id, battle.challenged.id) %}
          <a href="{{ url_for('battle.vote', id=battle.id, choice="challenger") }}"
            class="btn btn-default">Vote for challenger</a>
          <a href="{{ url_for('battle.vote', id=battle.id, choice="challenged") }}"
            class="btn btn-default">Vote for challenged</a>
          {% endif %}
      </div>
  </li>
  {% endfor %}
</ul>
